<div class="col-md-4 col-md-offset-4">
<h1>Login</h1>
<p>If you need to sign up, ask your instructor for the link.</p>
<!-- <p><a href="/users/new">Or sign up</a></p> -->
<%= form_tag('/sessions/create') do %>
  <div class="form-group">
    <%= label_tag "email" %>
    <%= text_field_tag "email", "", placeholder: "enter your email", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag "password" %>
    <%= password_field_tag "password", "", placeholder: "enter your password", class: "form-control" %>
  </div>
  <%= submit_tag "Submit", class: "btn btn-default" %>
<% end -%>
</div>
