
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>First:</strong>
      <%= @user.first %>
    </p>

    <p>
      <strong>Last:</strong>
      <%= @user.last %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <% if @user.id == session[:user_id].to_i || @user.id == session[:user2_id].to_i %>
      <%= link_to 'Edit your info', edit_user_path(@user) %>
      <%#= link_to 'Destroy your account', user_path(@user), method: :delete, data: { confirm: "Are you sure?"}  %>
    <% end %>

  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>Your Roadblocks</h2>
    <div class="list-group roadblocks-list">
      <% roadblocks = @user.roadblocks.order(created_at: :desc) %>
      <% roadblocks.each do |roadblock| %>
        <%= link_to(roadblock, class: "list-group-item") do %>
          <% headline = "No info available" %>
          <% roadblock.roadblock_checks.each do |rbc| %>
            <% if rbc.user_input.present? %>
              <% headline = rbc.user_input %>
              <% break %>
            <% end %>
          <% end %>
          <h5 class="list-group-item-heading">
            <%= truncate(headline, length: 60)%>
          </h5>
          <% roadblock.roadblock_checks.where(solved_it: true).each do |rbc| %>
            <p class="list-group-item-text">
              <%= rbc.check.description %>
            </p>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>



