
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>First:</strong>
      <%= @user.first %>
    </p>

    <p>
      <strong>Last:</strong>
      <%= @user.last %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <% if @user.id == session[:user_id].to_i || @user.id == session[:user2_id].to_i %>
      <%= link_to 'Edit', edit_user_path(@user) %> |
      <%= link_to 'Destroy', user_path(@user), method: :delete, data: { confirm: "Are you sure?"}  %> |
    <% end %>
      <%= link_to 'Back', users_path %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>Your Roadblocks</h2>
    <div class="list-group roadblocks-list">
      <% @user.roadblocks.each do |roadblock| %>
        <%= link_to(roadblock, class: "list-group-item") do %>
          <h5 class="list-group-item-heading">
            <%= truncate(roadblock.error_message, length: 60)%>
          </h5>
          <p class="list-group-item-text">
            <%= truncate(roadblock.description, length: 160)  %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>



