<%= form_for(@check_list_item) do |f| %>
  <% if @check_list_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@check_list_item.errors.count, "error") %> prohibited this check_list_item from being saved:</h2>

      <ul>
      <% @check_list_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :check_list_id %><br>
    <%= f.number_field :check_list_id %>
  </div>
  <div class="field">
    <%= f.label :check_id %><br>
    <%= f.number_field :check_id %>
  </div>
  <div class="field">
    <%= f.label :position %><br>
    <%= f.number_field :position %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
