<h1>Roadblocks</h1>

<div class="row">
  <div class="col-md-6">
    <h2>Questions asked by...</h2>
    <div class="question roadblocks-filter <%= @question_filter %>">
      <a class="question-you" href="/roadblocks?question_filter=question-you">You</a>
      <a class="question-class" href="/roadblocks?question_filter=question-class">Your class</a>
    </div><br>
    <% @questions.each do |question| %>
      <div><%= question.description %></div>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2>Bugs logged by...</h2>
    <div class="bug roadblocks-filter <%= @bug_filter %>">
      <a class="bug-you" href="/roadblocks?bug_filter=bug-you">You</a>
      <a class="bug-class" href="/roadblocks?bug_filter=bug-class">Your class</a>
    </div><br>
    <% @bugs.each do |bug|  %>
      <div id="roadblock-<%= bug.id %>" class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a href="/roadblocks/<%= bug.id %>">
              #<%= bug.id %>
              - <%= bug.user1.first %> <%= bug.user1.last %>
              - <%= bug.updated_at.strftime(" %B %d, %Y") %>
            </a>
          </h3>
        </div>
        <div class="panel-body">
          <h4>Error message</h4>
          <div>
            <% if bug.error_message.present? %>
              <%= bug.error_message %>
            <% else %>
              input not present
            <% end %>
          </div>
          <h4>Code snippet</h4>
          <div>
            <% if bug.code_snippet.present? %>
              <%= bug.code_snippet %>
            <% else %>
              input not present
            <% end %>
          </div>
          <h4>Description</h4>
          <div>
            <% if bug.description.present? %>
              <%= bug.description %>
            <% else %>
              input not present
            <% end %>
          </div>
          <h4>Solution</h4>
          <div>
            <% if bug.solution.present? %>
              <%= bug.solution %>
            <% else %>
              input not present
            <% end %>
          </div><!--
          <hr>
          <div>
            <%#= link_to "Add a comment", bug, class: "btn btn-primary"  %>
            <%# if bug.enrollment == current_enrollment || current_enrollment.instructor %> or
              <a href="/roadblocks/<%#= bug.id %>/edit">Edit</a>
            <%# end %>
          </div> -->
        </div>
    </div>
    <% end %>
  </div>

</div>
