<h1>Listing checks</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Input label</th>
      <th>Input example</th>
      <th>Instructor created?</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @checks.each do |check| %>
      <tr>
        <td><%= check.description %></td>
        <td><%= check.input_label %></td>
        <td><%= check.input_example %></td>
        <td><%= check.instructor_created %></td>
        <td><%= link_to 'Show', check %></td>
        <td><%= link_to 'Edit', edit_check_path(check) %></td>
        <td><%= link_to 'Destroy', check, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Check', new_check_path %>
