<!DOCTYPE html>
<html>
<head>
  <title>Unstuck</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> -->
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Unstuck.io</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/stuck">Get unstuck</a></li>
        <li><a href="/roadblocks-dash">Roadblocks</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if session[:user_id] %>
          <% u = User.find(session[:user_id]) %>
          <% c = Course.find(session[:course_id]) %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_course.name %> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <% u.courses.each do |course| %>
                <li><a href="/set_current_course/<%= course.id %>"><%= course.name %></a></li>
              <% end %>
            </ul>
          </li>
          <% if session[:user2_id] %>
            <% u2 = User.find(session[:user2_id]) %>
            <li><%= link_to u.email, edit_user_path(u)  %></li>
            <li><%= link_to u2.email, edit_user_path(u2)  %></li>
            <li><%= link_to "logout", "/logout", method: :delete %></li>
          <% else %>
            <li><%= link_to u.email, edit_user_path(u)  %></li>
            <li><a href="/login">Sign in a partner</a></li>
            <li><%= link_to "logout", "/logout", method: :delete %></li>
          <% end %>
        <% else %>
          <li><%#= link_to "Sign up", new_user_path  %></li>
          <li><a href="/login">Sign in</a></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <% if notice %>
    <div class="alert alert-info alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= notice %>
    </div>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
